<%= render "menu" %>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2> Caso</h2>
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td>codigo</td>
                                <td>01</td>
                            </tr>
                            <tr>
                                <td>Encargado</td>
                                <td>nelson</td>
                            </tr>
                            <tr>
                                <td>cliente rut</td>
                                <td>10500</td>
                            </tr>
                            <tr>
                                <td>nombre</td>
                                <td>fulanito de tal</td>
                            </tr>
                            <tr>
                                <td>Producto</td>
                                <td>impresora</td>
                            </tr>
                            <tr>
                                <td>codigo producto</td>
                                <td>NA000001</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel panel-info">
                        <div class="panel-heading ">Hito</div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>15/11/2018</td>
                                        <td>Revisado</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2>  <b> pagina de pruebas</b></h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Fecha</td>
                            <td><input type="date" id="fechaHito" class="form-control-static"></td>
                        </tr>
                        <tr>
                            <td>Empleado</td>
                            <td><input type="text" id="run" class="form-control-static" placeholder="12345"> </td>
                        </tr>
                        <tr>
                            <td>Descipcion</td>
                            <td><input type="text" id="run" class="form-control-static" placeholder="suceso"> </td>
                        </tr>
                    </table>
                    <a href="hitoLista.php"class="btn btn-default">Agregr Hito</a>
                </div>
            </div>
        </div>