        <div><br><br><br></div>
        <footer class="container-fluid text-center">
            <h4>footer generico</h4>
            --- aqui van los datos ----
            <h4><%=Date.today.strftime("%d/%m/%Y") %></h4>
        </footer>