        <div class="container">
            <nav class="navbar navbar-default ">
                <%= image_tag "sp.jpg" %>
                <h1>sistema post-venta</h1>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Empleados', controller: 'employees' %></li>
                    <li><%= link_to 'Clientes', controller: 'clients' %></li>
                    <li><a href="/problems"> Garantias</a></li>
                    <li><a href="#">Estadisticas</a></li>
                </ul>
            </nav>
        </div>